body{
    background-color: cadetblue;
}

#current-link {
    text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
  font-size: 30px;
}

p {
    border: 10px double maroon;
    color: white;
}

div {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: maroon;
    z-index: 10;
}

P a{
    color:gold;
}

ul {
    list-style-type: none;
    position: absolute; top: 20px; left: 540px; width: 426px; height: 240px;
}

ul a{
    color: black;
    display: block;
    width: 80px;
}

li
{
    float: left;
}
 
h2
{
color: gold;    
}

a{
    color: black;
    
}
marquee{
    font-size: 70px;
}
